<body>

<h2>Users</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Project</th>
    <th>Name</th>
    <th>Contact</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Project One</td>
    <td>Maria Anders</td>
    <td>mariaan@example.com</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Project One</td>
    <td>Francisco Chang</td>
    <td>chang@example.com</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Project One</td>
    <td>Roland Mendel</td>
    <td>mendel@example.com</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Project One</td>
    <td>Helen Bennett</td>
    <td>bennet@example.com</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Project One</td>
    <td>Yoshi Tannamuri</td>
    <td>tannamuri@example.com</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Project One</td>
    <td>Giovanni Rovelli</td>
    <td>rovelli@example.com</td>
  </tr>
</table>

</body>
